.pokemonGrid {
  display:flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}


.pokemonCard {
  border-style: groove;
  border-radius: 5%;
  min-width: 18%;
  max-width: 18%;
  background-color:ivory;
  text-align: center;
  /* display:flex;
  flex-wrap: wrap; */
}

.mainDiv {
  background-color: aliceblue;
}


.titleDiv{
  display:flex;
  font-size: 120%;
  justify-content: space-around;

}

.typeDiv {
  max-width: 19%;
}

.weakDiv {
  max-width: 19%;
}

.headerDiv {
  display: flex;
    justify-content: space-around;

}

#search{
  max-height:20px;
  max-width: 120px;
}